.spell-card {
    display: table;
    background-color: beige;
    border: 1px solid black;
    border-collapse: collapse;
    width: 300px;
    margin-bottom: 10px;
}

.spell-row {
    display: table-row;
    border: 1px solid black;
    border-collapse: collapse;
}

.spell-name {
    float: left;
    font-size: 20px;
}

.spell-level {
    float: right;
    font-size: 20px;
}

.spell-cell {
}

.extra-info {
    display: none;
}

.expand-button-row {
    display: table-row;
    text-align: right;
}

.expand-button {
    font-size: 25px;
    color: black;
    cursor: pointer;
}
